[Unit]
Description=BLS eLibrary Celery Worker
After=network.target

[Service]
User=django
Group=django
WorkingDirectory=/home/django/NEA_2024_Official-main/blslms
EnvironmentFile=/home/django/NEA_2024_Official-main/deploy/.env
ExecStart=/home/django/NEA_2024_Official-main/env/bin/celery -A core worker -l info
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
