[Unit]
Description=BLS eLibrary Gunicorn Daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=django
Group=django
WorkingDirectory=/home/django/NEA_2024_Official-main/blslms
EnvironmentFile=/home/django/NEA_2024_Official-main/deploy/.env
ExecStart=/home/django/NEA_2024_Official-main/env/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sock \
    blslms.wsgi:application
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
