{% extends 'base.html' %}

{% block content %}
<div class="profile-page" style="max-width: 600px; margin: auto; text-align: center; padding: 20px; background: white; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
    <h1 style="color: #0066cc; margin-bottom: 20px;">Penalty Details</h1>
    <aside>
        <img src="{{ penalty.physicalbook.book_id.cover.url }}"  style="width: 300px; height: auto; border-radius: 5px; object-fit: cover;">
    </aside>

    <div class="penalty-details" style="margin-top: 30px; text-align: center;">
        <h3 style="color: #333; margin-bottom: 15px;">Penalty ID: {{ penalty.penalty_id }}</h3>

        <p style="font-size: 1rem; color: #333;"><strong>User:</strong> {{ penalty.user_id.username }}</p>
        <p style="font-size: 1rem; color: #333;"><strong>Book:</strong> {{ penalty.physicalbook.book_id.title }}</p>
        <p style="font-size: 1rem; color: #333;"><strong>Damage Reported:</strong> {{ penalty.damage_id.damage_description }}</p>
        <p style="font-size: 1rem; color: #333;"><strong>Issuance Date:</strong> {{ penalty.issuance_date }}</p>

        <p style="font-size: 1rem; color: #333;"><strong>Paid:</strong> {% if penalty.paid %} Yes {% else %} No {% endif %}</p>
        <p style="font-size: 1rem; color: #333;"><strong>Amount:</strong> Rs. {{ penalty.amount }}</p>

        
        <a href="{% url 'profile' user.username %}" class="btn btn-secondary" style="display: inline-block; margin-top: 20px; padding: 8px 15px; background: #0066cc; color: white; text-decoration: none; border-radius: 5px; font-size: 1rem;">Back to Profile</a>
    </div>
</div>
{% endblock %}
