{% extends "base.html" %}
{% load static %}

{% block title %}Confirm Loan - BLS eLibrary{% endblock %}

{% block extra_css %}
<style>

    .welcome-title {
        font-size: 2rem;
        color: #0066cc;
        margin-bottom: 20px;
        text-align: center;
    }


    .section-box {
        background-color: white;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 40px auto; /* Center align and add top margin */
    }

    .section-box h3,
    .section-box h5,
    .section-box p {
        margin: 10px 0;
        color: #333;
        text-align: center; /* Center align text */
        text-size: 30px;
    }

    h3 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1rem;
    }

    .section-box img {
        display: block;
        margin: 10px auto;
        width: 100px;
        height: auto;
        border-radius: 5px;
        object-fit: cover;
    }

    /* Style the confirm button */
    .section-box button[type="submit"] {
        background-color: #0066cc;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
        transition: background 0.3s;
    }

    .section-box button[type="submit"]:hover {
        background-color: #004d99;
    }

    
    .warning-box {
        background-color: #f8d7da; 
        color: #721c24;
        border: 1px solid #f5c6cb; 
        border-radius: 8px; 
        padding: 16px; 
        margin: 16px 0; 
        font-family: Arial, sans-serif; 
        font-size: 14px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }


</style>
{% endblock %}

{% block content %}

<div class="section-box">    
    <h3>Title: {{ loan.book_id.title }}</h3>
    <p>Author: {{ loan.book_id.author }}</p>
    <aside>
        <img src="{{ loan.book_id.cover.url }}" alt="{{ loan.book_id.title }}" style="width: 300px; height: auto; border-radius: 5px; object-fit: cover;">
    </aside>

    <form method="post" action="{% url 'report_executed' loan.loan_id %}">
        {% csrf_token %}
        {{ form.as_p }} 
        <div style="text-align: center"> 
            <button type="submit" class="book-btn" center>Report Damage</button>
        </div>  
    </form>
    

    <p>Do you want to confirm this damage report of this book?</p>
    

{% endblock %}


